.danger {
    border: #ff8900 2.6px solid;
}
.error{
    color:#ff8900;
    
}
.form{
    padding-top: 2em;
    padding-bottom: 2em;
    background:#f0d8b2;
    color:rgb(0, 36, 42, 0.9);
    text-align: center;
    max-width: 600px;
    margin:0 auto;
}
.paises{
    display: grid;
    height: 140px;
    width: 60%;
    text-align: start;
    padding-left:14%;
    margin-bottom: 8% ;
    grid-template-columns: repeat(2 ,minmax(100px,4fr));
    overflow-y:scroll;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,4fr));
}
.flag{
    height: 18px;
    width: 20px;
    border-radius:50%;
    object-fit: cover;
}
label{
    color:rgb(0, 36, 42, 0.9);
}