.danger {
    border: red 1px solid;
}
.error{
    color:#ff8900;
    
}
.form{
    background:#7babc5;
    color:#fff;
    text-align: center;
}
.paises{
    display: grid;
    height: 140px;
    text-align: start;
    padding-left:14%;
    margin-bottom: 8% ;
    grid-template-columns: repeat(2 ,minmax(100px,4fr));
    overflow-y:scroll;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,4fr));
}
.flag{
    height: 18px;
    width: 20px;
    border-radius:50%;
    object-fit: cover;
}